<html><head><title>Posts</title><meta name="description" content="Our first page"><meta name="keywords" content="html tutorial template"><style>p{font-size:30px;}
.postDiv{border-style:solid;border-color:gray;border-width:2px;border-radius:15px;margin-top:5%;}
img{width:100%;border-top:solid #dedfde;border-radius:15px;}
</style>
</head>
<body>

<form action="/"><input type="submit" value="go back"
><div class="postDiv">
<p>a</p>
<img src="uploads/a.jpg"></img>
</div>

<div class="postDiv">
<p>munchies</p>
<img src="uploads/munchies.jpg"></img>
</div>

<div class="postDiv">
<p>post</p>
<img src="uploads/post.jpg"></img>
</div>

<div class="postDiv">
<p>post2</p>
<img src="uploads/post2.jpg"></img>
</div>

<div class="postDiv">
<p>post3</p>
<img src="uploads/post3.jpg"></img>
</div>

<div class="postDiv">
<p>posts</p>
<img src="uploads/posts.jpg"></img>
</div>

</body></html>