<html><head><title>Posts</title><meta name="description" content="Our first page"><meta name="keywords" content="html tutorial template"><style>p{font-size:30px;}
.postDiv{border-style:solid;border-color:gray;border-width:2px;border-radius:15px;margin-top:5%;}
img{width:100%;border-top:solid #dedfde;border-radius:15px;}
</style>
</head>
<body>

<form action="/"><input type="submit" value="go back"
><div class="postDiv">
<p>13N 15E house</p>
<img src="uploads/13N 15E house__1677691842281.jpg"></img>
</div>

<div class="postDiv">
<p>Nopic</p>
<img src="uploads/Nopic__1677690578084.jpg"></img>
</div>

<div class="postDiv">
<p>Virus.jpg</p>
<img src="uploads/Virus.jpg__1677690323330.jpg"></img>
</div>

<div class="postDiv">
<p>kill</p>
<img src="uploads/kill__1677690802098.jpg"></img>
</div>

<div class="postDiv">
<p>makecodenamelar</p>
<img src="uploads/makecodenamelar__1677690520407.jpg"></img>
</div>

<div class="postDiv">
<p>pain</p>
<img src="uploads/pain__1677691711550.jpg"></img>
</div>

</body></html>