<html><head><title>Posts</title><meta name="description" content="Our first page"><meta name="keywords" content="html tutorial template"><style>p{font-size:30px;}
.postDiv{border-style:solid;border-color:gray;border-width:2px;border-radius:15px;margin-top:5%;}
img{width:100%;border-top:solid #dedfde;border-radius:15px;}
</style>
</head>
<body>

<form action="/"><input type="submit" value="go back"
><div class="postDiv">
<p>Pain</p>
<img src="uploads/Pain.jpg"></img>
</div>

<div class="postDiv">
<p>Post</p>
<img src="uploads/Post.jpg"></img>
</div>

<div class="postDiv">
<p>Posted</p>
<img src="uploads/Posted.jpg"></img>
</div>

</body></html>