<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REQSTR</title>
  <link rel = "stylesheet"
   type = "text/css"
   href = "style.css" />
</head>
<body>
  <script>
    
    
  </script>
  <img id="Background" >
  <script src="script.js" class="main_fade"></script>
  <p id= "title" class="main_fade">RE:QSTR</p>

  <img id="logo" src="logo_test.svg" onclick="history.go(0)">

  <div>
    <form method="POST" enctype="multipart/form-data" action="/REQSTR/views/submit-form" onsubmit="">
      <label for="title" class="labels">Post Title (max length 15):</label><br>
      <input type="text" name="postTitle" maxlength="15" required>
      <input type="file" name="postImage" accept=".jpg,.jpeg" required>
      <!--
      <br>
      <label for="title" class="labels">Post Text (max length 300):</label>
      <br>
      <textarea name="postText" maxlength="300" required></textarea>
      //-->
      <input type="submit" id="uploadButton" value="Submit" >
    </form>
    <form action="/REQSTR/views/view-posts">
      <input type="submit" value="view posts">
    </form>
  </div>
</body>
</html>
