<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REQSTR</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <img id="Background" >
  <script src="script.js" class="main_fade"></script>
  <p id= "title" class="main_fade">RE:QSTR</p>
  <button id="uploadButton" class="main_fade">UPLOAD</button>
  <img id="logo" src="logo_test.svg" onclick="history.go(0)">

  <form>
    <label for="title" class="labels">Post Title:</label><br>
    <input type="text" id="postTitle">
    <input type="file" id="postImage">
  </form>
</body>
</html>
