<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REQSTR</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <img id="Background" >
  <script src="script.js" class="main_fade"></script>
  <p id= "title" class="main_fade">RE:QSTR</p>

  <img id="logo" src="logo_test.svg" onclick="history.go(0)">

  <form method="POST" enctype="multipart/form-data" action="/submit-form">
    <label for="title" class="labels">Post Title:</label><br>
    <!--<input type="text" name="postTitle">-->
    <input type="file" name="postImage" accept=".jpg,.jpeg">
    <input type="submit" id="uploadButton" value="Submit">
  </form>
</body>
</html>
