<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REQSTR</title>
  <link rel = "stylesheet"
   type = "text/css"
   href = "style.css" />
</head>
<body>
  <script>
        
  </script>

  <style>
   
  </style>
  <div id="loadingLoop"></div>
  

  
  <img id="Background" >
  <script src="script.js" class="main_fade"></script>
  <p id= "title" class="main_fade">RE:QSTR</p>
  
  <img id="logo" src="logo_test.svg" onclick="history.go(0)">
    
  <div>

    
    <form method="POST" enctype="multipart/form-data" action="/submit-form">
      <label for="title" class="labels">Post Title (max length 15):</label><br>
      <input type="text" name="postTitle" maxlength="15" required>
      <input type="file" name="postImage" accept=".jpg,.jpeg" required>
      <br><label for="title" class="labels">Post Description (max length 300):</label><br>
      <input type="text" name="postDescription" maxlength="300" required>
      <p id="info">Site will freeze during upload and will reload when done uploading.</p>
      <input type="submit" id="uploadButton" value="Submit" >
    </form>
    

    <form action="/view-posts">
      <input type="submit" value="view posts">
    </form>
    
    <div style="padding-top:10px;">
      <img id="qr" src="QRCODE.png">
    </div>
    
  </div>
  
</body>
</html>
