body, html{
  height:100%
}

.labels{
  color: white;
}
@keyframes loading {
  0%   {background-color: red;}
  50%  {background-color: yellow;}
  100%   {background-color: red;}

}

#loadingLoop{
  width: 25px;
  height: 25px;
  background-color: red;
  animation-name: loading;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
#info{
  color:white;
}

#postImage{
  color: white;
}

#uploadButton{
  padding: 1em ;
  border-width: 0%;
  border-radius: 30%;
  border:0px;
  font-size: 150%;
  height:auto;
  background-color:rgba(37, 150, 190, 0.5);
  color: #40be00;
  display: inline-block;
  font-weight: bold;
  font-family: FUTURA;
  position: relative;
  left: 5%;
  right: 5%;
  bottom: 5%;
  width: calc(90%);
}

#uploadButton:hover{
  background-color: rgba(0, 0, 0, 0.2);
}

#uploadButton:active{
  background-color: rgba(0, 0, 0, 0.6);
}

body{
    width:100%;
    position: absolute;
    background-image:url("REQSTR_Background.svg");
}

#title{
  font-family: "MS Gothic";
  color:white;
  font-size: 70px;
  position: relative;
  top:auto;
  
}

#logo{
  position: absolute;
  right:5%;
  top:1%;
  width: 15%;
  height:auto;
  opacity: .8;
}

#logo:hover{
  opacity: 1;
}